body{
  background-color: lightslategrey;
}

.greddit{
  color: red;
  font-size: 300% ;
  font-family: 'Times New Roman', Times, serif;
}

.box{
    position: relative;
    width: 400px;
    height: 500px;
    display:contents;
    border-radius: 20px;
    background-color: rgb(210, 190, 7);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 .login{
  padding-left: 35%;
  padding-top: 10%;
  padding-bottom: 40%;
 }
 .login_head{
  color: red;
  font-size: xx-large;
  padding-left: 20%;
  padding-bottom: 5%;
 }
 /* .box{
  position: relative;
  width: 320px;
  margin: 30px 20px;
  border-bottom: 2px solid white;
 } */
 /* .container{
  margin-bottom: auto;
 } */

 .profile_box{
  background-color:bisque;
  width:50%;
  margin: auto;
  border: 10px;
  border-radius: 5%;
  border-color: aqua;
 }
 .img{
  padding-left: 35%;
  border: 30%;
 }

 .user_head{
  color: red;
  font-size: x-large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
 }
 .user_info{
  color: black;
  font-size: x-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .head{
  color: red;
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 .login_box{
  background-color: bisque;
  width: fit-content;
  margin: auto;
  height: fit-content;
  margin-top: 100px;
  margin-bottom: 100px;
 }
 .heading{
  color: red;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
 }
